.subjects {
  .subject-item {
    .title {
      padding: 25px 0;
    }

    .full-name {
      width: 70%;
    }

    .birthdate {
      width: 70%;
    }

    .avg-notes {
      width: 30%;
    }
  }
}
